name: recipes_list_demo
description: Minimal Flutter app that parses JSON and displays recipe titles in a ListView.
publish_to: "none"
version: 0.0.1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/recipes.json
